@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Paleta de cores */
:root {
    --preto: #020202;
    --branco: #FFF4F4;
    --verde: #8DB580;
    --laranja: #E89E0C;
    --azul: #79ADDC;
}

* {
    margin: 0;
    padding: 0;
}


a {
    position: relative;
    color: rgba(128, 128, 128, 0.774);
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.774);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

div#phone-header {
    display: none;
}

main {
    background: url('../images/test2.jpg') no-repeat center;
    background-color: var(--preto);
    height: 88vh;
}

div#content {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 50px;
    max-width: 1000px;
    height: 70%;
    color: var(--branco);
    /*background: rgba(217, 215, 215, 0.644);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgb(36, 36, 36);*/
}

p#name-main {
    color: var(--azul);
    font-family: 'Playfair Display';
    font-size: 25px;
}


mark#prog {
    font-family: 'Space Mono';
    background-color: rgba(255, 255, 255, 0);
    color: var(--azul);
}

div#content h1 {
    font-size: 3.3vw;
    text-shadow: -1px 1px 7px black;
}
/*
div#content h2 a {
    position: relative;
    color: rgba(128, 128, 128, 0.774);
}

div#content h2 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.774);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

div#content h2 a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}*/

div#phone-social-media {
    display: none;
}

@media (min-width: 700px) and (max-width: 1300px) {
    div#content h1 {
        font-size: 5vw;
    }
}

@media (min-width: 100px) and (max-width: 700px) {
    div#phone-header {
        color: var(--branco);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--preto);
        height: 10vh;
    }
    div#phone-links a {
        font-family: 'Inter';
        color: var(--branco);
        margin: 7px;
    }

    div#content {
        padding: 0;
        margin: 0;
        height: 68vh;
    }
    div#content p {
        padding-bottom: 12px;
    }
    div#content h1, h2 {
        text-align: center;
        font-size: 7vw;
    }
/*
    footer {
        height: 10vh;
    }
    div#phone-social-media {
        display: flex;
        padding: 5px;
    }
    div#phone-social-media a {
        position: static;
        margin: 5px;
    }*/
}